/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

/* Variables Css */
:root {
  --header-height: 3rem;
  /* Colores */
  --first-color: #9c2b3d;
  --first-color-alt: #4d161f;
  --text-color: #000000;
  --text-color-alt: #ffffff;
  --body-color: #ffffff;
  --footer-color: #dfdfdf;
  /* Fonts Details */
  --body-font: "Montserrat", sans-serif;
  --font-medium: 500;
  --font-bold: 600;
  /* Fonts Size */
  --big-font-size: 6.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  /* Margenes */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  /* Z-Index */
  --z-fixed: 1000;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 10.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --header-height: 4rem;
  }
}

/* Base */
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
  transition: 0.3s;
}
body.dark-theme {
  --first-color-alt: #9c2b3d;
  --first-color: #4d161f;
  --text-color: #ffffff;
  --text-color-alt: #000000;
  --body-color: #2b030a;
  --footer-color: #dfdfdf;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: var(--first-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--first-color-alt);
  transition: 0.3s;
}

/* Components Classes */
.container {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.section {
  padding: 3rem 0;
  transition: 0.3s;
}
.hidden {
  display: none;
}
.head-section h2 {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--text-color);
  margin: var(--mb-4) 0;
  text-align: center;
}
.head-section h2::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: var(--first-color-alt);
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.head-section h2:hover::after {
  width: 60px;
}
.btn-top {
  position: fixed;
  bottom: 2rem;
  right: -100%;
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  background-color: var(--first-color);
  color: #ffffff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  z-index: var(--z-fixed);
}
.btn-top:hover {
  background-color: var(--first-color-alt);
}
.btn-top.active {
  right: 1.5rem;
}
.image {
  width: 100%;
  background-color: var(--first-color);
  border-radius: 140px;
  padding: 20px 0 0;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  transition: 0.3s;
}
.image:hover {
  background-color: var(--first-color-alt);
}
.image img {
  transition: 0.3s;
}
.image:hover img {
  transform: scale(1.05);
}
.c-load {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(195 41 65 / 40%);
  backdrop-filter: blur(10px);
  z-index: 1000;
}
.c-load.disabled {
  display: none;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.loading span {
  font-size: 45px;
  letter-spacing: 5px;
  line-height: 1;
  text-transform: uppercase;
}
.loading::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
  animation: move 3s linear infinite;
  mix-blend-mode: difference;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  height: 45px;
  background-color: var(--first-color);
  color: white;
  border: none;
  font-size: 1.1rem;
  font-weight: var(--font-bold);
  border-radius: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--first-color-alt);
}
.scroller {
  position: fixed;
  width: 0;
  height: 5px;
  top: var(--header-height);
  left: 0;
  background-color: var(--first-color-alt);
  transition: 0.3s;
  z-index: 1000;
}

/* Start Header */
header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  background-color: var(--first-color);
  color: #ffffff;
  z-index: var(--z-fixed);
}
header.header > div {
  display: flex;
  justify-content: space-between;
}
header.header .logo-container a {
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  color: #ffffff;
}
header.header .nav-container {
  position: fixed;
  top: var(--header-height);
  right: -100%;
  width: 80%;
  height: calc(100% - var(--header-height));
  padding: 2rem;
  background-color: rgb(40 0 0 / 30%);
  backdrop-filter: blur(10px);
  transition: 0.3s;
}
header.header .nav-container.active {
  right: 0;
}
header.header .nav-container ul li:not(:last-of-type) {
  margin-bottom: var(--mb-3);
}
header.header .nav-container ul li a {
  position: relative;
  display: block;
  font-weight: var(--font-bold);
  color: #ffffff;
  transition: 0.3s;
}
header.header .nav-container ul li a:hover {
  color: var(--first-color-alt);
}
header.header .nav-container ul li a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  bottom: -10px;
  left: 0;
  background-color: white;
  transition: 0.3s;
}
header.header .nav-container ul li a.active::before {
  width: 100%;
}
header.header .i-container {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
header.header .theme {
  color: #ffffff;
  width: 40px;
  height: 40px;
  position: fixed;
  top: calc(var(--header-height) + 1.25rem);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--first-color-alt);
  font-size: 1.5rem;
  cursor: pointer;
}
/* End Header */

/* Start CV */
.cv-page {
  display: none;
}
.cv-page.active {
  display: block;
}
.cv-page .cv-image {
  border: 3px solid var(--first-color-alt);
  margin-bottom: var(--mb-2);
}
/* End CV */

/* Start Home */
section.home {
  position: relative;
  background-color: var(--first-color);
  color: var(--white-color);
  overflow: hidden;
}
section.home > div {
  height: calc(100vh - var(--header-height));
  row-gap: 5rem;
}
section.home h1 {
  color: #ffffff;
  font-size: var(--big-font-size);
  line-height: 0.8;
  align-self: center;
  z-index: 10;
}
section.home h1 span {
  text-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
}
section.home > div > div {
  align-self: flex-end;
  padding-bottom: var(--mb-4);
}
section.home > div > div a {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  color: #ffffff;
}
section.home img {
  position: absolute;
  right: calc((100% - 1024px) / 2);
  bottom: -85px;
  width: 300px;
  z-index: 100;
}
section.home .home-scroll {
  position: relative;
  animation-name: scroll-home;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: 10;
}
.page {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.page::before {
  content: "";
  background-color: var(--first-color-alt);
  position: absolute;
  width: 500%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) skew(0, -10deg);
  border-radius: 50%;
  z-index: 1;
  animation: waving 8s ease-in-out infinite alternate;
}
/* End Home */

/* Start About */
section.about .content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  align-items: center;
}
section.about .content > div {
  text-align: center;
}
section.about .content h3 {
  color: var(--first-color-alt);
  margin-bottom: var(--mb-1);
}
section.about .content span {
  margin-bottom: var(--mb-3);
  display: block;
}
section.about .content p {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}
.cv-btns {
  margin-bottom: var(--mb-2);
  display: flex;
  gap: var(--mb-1);
}
.cv-btns .btn {
  flex: 1;
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
}
section.about .content .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
section.about .content .links a {
  font-size: 1.75rem;
  transition: 0.3s;
}
section.about .content .links a:hover {
  color: var(--first-color);
}
/* End About */

/* Start Skills */
section.skills .content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 2rem;
}
section.skills .content .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.skills .content .items > div {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}
section.skills .content .items h3 {
  color: var(--first-color-alt);
  margin-bottom: 0.75rem;
}
section.skills .content .items span {
  padding: 0.25rem 0.5rem;
  background-color: var(--white-color);
  border-radius: 0.25rem;
  transition: 0.3s;
}
section.skills .content .items span:hover {
  color: #ffffff;
  background-color: var(--first-color);
}
/* End Skills */

/* Start Portfolio */
section.portfolio .search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--mb-3);
}
section.portfolio .search ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
section.portfolio .search ul li {
  padding: 6px 18px;
  background-color: var(--first-color);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
section.portfolio .search ul li.active {
  background-color: var(--first-color-alt);
  font-weight: var(--font-bold);
}
section.portfolio .content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
section.portfolio .content p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1.2rem;
  background-color: var(--first-color-alt);
  color: white;
  font-size: 1.2rem;
  font-weight: var(--font-bold);
  border-radius: 1rem;
}
section.portfolio .item {
  display: block;
  position: relative;
  border-radius: 0.5rem;
  border: 2px solid var(--first-color);
  overflow: hidden;
}
section.portfolio .item.disable {
  display: none;
}
section.portfolio .item .link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(195 41 65 / 40%);
  backdrop-filter: blur(10px);
  overflow: hidden;
  transition: 0.3s;
}
section.portfolio .item:hover .link {
  height: 100%;
}
section.portfolio .item:hover .link h3 {
  font-size: 24px;
}
section.portfolio .item:hover .link > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
section.portfolio .item .link a {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
  color: var(--white-color);
}
/* End Portfolio */

/* Start Contact */
section.contact .content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 2rem;
}
section.contact .content .main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--mb-3);
}
section.contact .content .text {
  text-align: center;
}
section.contact .content .text h3 {
  margin-bottom: var(--mb-1);
  color: var(--first-color-alt);
}
section.contact .content .text p {
  font-size: var(--font-bold);
}
/* End Contact */

/* Start Footer */
footer.footer {
  background-color: var(--first-color-alt);
  color: var(--white-color);
}
footer.footer h3 {
  color: #ffffff;
}
footer.footer > div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--mb-3);
}
footer.footer .text {
  display: flex;
  flex-direction: column;
  gap: var(--mb-2);
}
footer.footer .text p {
  color: var(--footer-color);
}
footer.footer .text ul {
  display: flex;
  flex-direction: column;
  gap: var(--mb-1);
}
footer.footer .text ul li a {
  color: var(--footer-color);
  transition: 0.3s;
}
footer.footer .text ul li a:hover {
  color: var(--first-color);
}
footer.footer .text .icons {
  display: flex;
  gap: var(--mb-1);
  font-size: 1.5rem;
}
footer.footer .text .icons a {
  color: var(--footer-color);
  transition: 0.3s;
}
footer.footer .text .icons a:hover {
  color: var(--first-color);
}
/* End Footer */

/* Media Queries */
@media screen and (max-width: 500px) {
  .home img {
    bottom: -50px !important;
    right: 50% !important;
    left: 55%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 500px) {
  .loading span {
    font-size: 80px !important;
  }
  .home img {
    width: 390px !important;
    right: 0 !important;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
  }
  .image {
    max-width: 400px !important;
    margin-right: 0 !important;
    margin-left: auto !important;
  }
  header.header > div {
    align-items: center;
  }
  header.header .nav-container {
    position: relative;
    right: 0;
    top: 0;
    background-color: inherit;
    backdrop-filter: blur(0);
    height: auto;
    width: 70%;
    padding: 0;
  }
  header.header .nav-container ul {
    display: flex;
    gap: var(--mb-2);
  }
  header.header .nav-container ul li {
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  header.header .i-container {
    display: none;
  }
  .cv-page .cv-image {
    margin-top: 20px;
  }
  .home {
    height: 100vh;
  }
  .home > div {
    padding-top: 4rem;
    height: 100vh !important;
    row-gap: 2rem !important;
  }
  .home img {
    width: 470px !important;
    right: 0 !important;
  }
  .about .content {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .skills .content {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .skills .content .text {
    gap: 2rem !important;
  }
  section.portfolio .search ul {
    gap: 1rem;
  }
  section.portfolio .search ul li:hover {
    background-color: var(--first-color-alt);
  }
  .portfolio .content {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  section.portfolio .content p {
    padding: 0.5rem 4rem;
    font-size: 1.5rem;
  }
  .contact .content {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .contact .content .main {
    gap: 2rem !important;
  }
  .contact .content .text {
    text-align: left !important;
  }
  .footer > div {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .footer > div .text:not(:first-of-type) {
    text-align: center;
  }
  .footer > div .text .icons {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home img {
    right: calc((100% - 1024px) / 2) !important;
  }
  .contact .content .main {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 4rem !important;
  }
}

/* Animations */
@keyframes scroll-home {
  0%,
  100% {
    top: 10px;
  }
  50% {
    top: -20px;
  }
}
@keyframes waving {
  from {
    transform: translateX(-50%) skew(0, 5deg);
  }
  to {
    transform: translateX(-30%) skew(20deg, 0);
  }
}
@keyframes move {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: calc(100% - 100px);
  }
}
