/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

/* Variables Css */
:root {
  --header-height: 3rem;
  /* Colores */
  --first-color: #5361ff;
  --white-color: #fafaff;
  --dark-color: #2a3b47;
  --text-color: #697477;
  /* Fonts Details */
  --body-font: "Montserrat", sans-serif;
  --font-medium: 500;
  /* Fonts Size */
  --big-font-size: 6.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  /* Margenes */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  /* Z-Index */
  --z-fixed: 100;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 10.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/* Base */
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  line-height: 1.6;
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
